* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    --background-color: #050B0D;
    --font: #F0F2F2;
    --text: #A1A5A6;
    --color: #0D2626;
    --color0: #5F7373;
    --color1: #008080;
    background-color: var(--background-color);
    font-family: "Ubuntu", serif;
    height: 100vh;
}

/*header section*/
header {
    position: fixed;
    padding: 12px 0;
    padding-top: 27px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.main-head {
    max-width: 680px;
    animation: 2.5s slide-down ease-in-out;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100px);
        max-width: 0;
    }
    40% {
        transform: translateY(0);
    }
    100% {
        max-width: 680px;
    }
}

    .head {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        column-gap: 20px;
        list-style: none;
        flex-basis: 100%;
        padding: 0px 0;
        border-radius: 30px;
        background-color: var(--background-color);
    }

    @property --angle{
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }
    
    .head::after, .head::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: conic-gradient(from var(--angle), transparent 10%, var(--color1));
        z-index: -1;
        padding: 3px;
        border-radius: 30px;
        animation: 3s spin linear infinite;
    }
    .head::before{
        filter: blur(1.5rem);
        opacity: 0.5;
    }
    @keyframes spin{
        0%{
            --angle: 0deg;
        }
        100%{
            --angle: 360deg;
        }
    }

    .head .menu {
        position: relative;
    }

    .head .submenu {
        position: absolute;
        top: 40px;
        left: 0;
        width: 180px;
        background-color: var(--background-color);
        padding: 10px;
        border-radius: 10px;
        z-index: 100;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 15px;
        color: var(--font);
        font-weight: bold;
    }

    .hidden {
        display: none;
    }

    .show {
        display: block;
    }



    .submenu li {
        list-style: none;
        padding: 5px;
    }

    .head .submenu li a{
        animation-delay: 0s;
        animation-duration: 0.2s;
        font-weight: 400;
        font-size: 16px;
        text-transform: capitalize;
    }


    .submenu::before{
        content: "";
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid var(--font);
        height: 0;
        width: 0;
        position: absolute;
        left: 78px;
        top: -6px;
    }

    .submenu0::before {
        left:159px;
    }

    .head > li {
        padding: 10px 15px;
    }

    .head > li a,button {
        display: inline-block;
        position: relative;
        font-weight: bold;
        color: var(--font);
        transition: color ease-in-out;
        animation-name: fede-in;
        animation-duration: 1.2s;
        animation-delay: 1.8s;
        animation-fill-mode: backwards;
        animation-timing-function: ease-in;
    }

    .head .menu a i {
        font-size: 15px;
    }

    .head .btnn:hover {
        color: var(--color1);
    }

    @keyframes fede-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }


    .head li a::after,button::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--color1);
        transition: 0.15s ease-in-out;
    }

    .head li a:hover:after,button:hover::after {
        width: 100%;
    }

    .head li a#active {
        color: var(--color1);
    }

    .open-menu,
    .close-menu {
        position: absolute;
        color: var(--color1);
        cursor: pointer;
        font-size: 2rem;
        display: none;
    }

    .open-menu {
        top: 50%;
        right: 25px;
    }

    .close-menu {
        top: 20px;
        right: 20px;
    }

    #check {
        display: none;
    }


.Hero {
    height: 100vh;
    flex-basis: 100%;
    background-image: radial-gradient(circle 200px at top, #f0f2f200, #050b0d9d), url(img/KIROKAZE.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.3 ease-in-out;
    z-index: 1;
    position: relative;
}

.Hero:hover {
    background-image: radial-gradient(circle 200px at top, #50b7c231, #050b0da6), url(img/KIROKAZE.gif);
}

.text-section {
    color: var(--font);
    flex-basis: 35%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    padding-top: 100px;
    background-image: radial-gradient(circle 150px at left, transparent, transparent);
    transition: 0.3 ease-in-out;
}

.text-section:hover {
    background-image: radial-gradient(circle 150px at left, #50b7c231, transparent);
}

.text-section h3 {
    font-size: 60px;
    text-transform: uppercase;
    translate: -500px 0;
    color: var(--font);
    animation-name: slide-left;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;

}

@keyframes slide-left {
    from {
        translate: -500px 0;
        color: transparent;
    }

    to {
        translate: 0 0;
        color: var(--font);
    }
}

.text-section h1 {
    position: relative;
    color: var(--color1);
    top: 15px;
    left: 10px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0 0;
    translate: 0 50px;
    animation-name: slide-top;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes slide-top {
    from {
        translate: 0 50px;
        color: transparent;
    }

    to {
        translate: 0 0;
        color: var(--color1);
    }
}

.text-section p {
    position: relative;
    font-weight: 200;
    bottom: 10px;
    font-size: 28px;
    letter-spacing: 7.5px;
    color: var(--font);
    transition: 0.5 ease-in-out;
    translate: 0 -50px;
    animation-name: slide-bottom;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
    padding-bottom: 10px;
}

@keyframes slide-bottom {
    from {
        translate: 0 -50px;
        color: transparent;
    }

    to {
        translate: 0 0;
        color: var(--font);
    }
}

.text-section p:hover {
    letter-spacing: 0;
}

.btn {
    position: relative;
    display: flex;
    justify-content: flex-start;
    column-gap: 40px;
}


.button {
    padding: 9px 20px;
    text-align: center;
    font-size: 15px;
    border: solid 2px var(--text);
    border-radius: 30px;
    color: var(--text);
    font-weight: bold;
    background-color: transparent;
    transition: 0.5s ease;
    cursor: pointer;
    animation-name: fede-inn;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

@keyframes fede-inn {
    from {
        color: transparent;
        border: solid 2px transparent;
    }

    to {
        color: var(--text);
        border: solid 2px var(--text);
    }
}


.button:hover {
    background-color: var(--color1);
    color: var(--font);
    border: solid 2px transparent;
    translate: 0 -5px;
}

.social-media {
    margin-left: 50px;
    height: 10%;
    background-image: radial-gradient(circle 75px at bottom, transparent, transparent);
}

.social-media:hover {
    background-image: radial-gradient(circle 75px at bottom, #50b7c231, transparent);
}

.social-media a {
    padding: 4px;
}


.social-media > a > i{
    font-size: 30px;
    color: var(--font);
    translate: 0 0;
    transition: 0.3s ease;
    animation-name: slide-from-bottom;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.social-media > a > i:hover {
    transform: scale(1.1);
    translate: 0 -5px;
    color: var(--color1);
}

.social-media > a > i:hover {
    transform: scale(1.1);
    translate: 0 -5px;
    color: var(--color1);
}


@keyframes slide-from-bottom {
    from {
        display: none;
        translate: 0 100px;
    }

    to {
        display: block;
        translate: 0 0;
    }
}


@media (max-width: 600px) {
    .head {
        column-gap: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: transparent;
        background-image: linear-gradient(180deg, var(--background-color) 50%, transparent);
        transition: all 0.5s ease;
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-top: 40px;
    }

    .main-head {
        animation: none;
    }

    .head::after, .head::before {
        display: none;
    }

    .head li {
        padding: 10px 10px;
        margin-top: 10px;
    }

    .head li a {
        font-size: 12px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.head {
        right: 0;
    }

    .head .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .head .submenu {
        position: static;
        background-color: transparent;
        width: 230px;
        text-align: center;
    }

    .head .submenu li a {
        font-size: 12px;
    }

    #submenu0::before {
        display: none;
    }

    .submenu::before {
        display: none;
    }

    .text-section {
        padding-left: 35px;
        align-self: center;
        padding-left: 0;
    }

    .text-section:hover {
        background-image: radial-gradient(circle 150px at left, transparent, transparent);
    }

    .social-media {
        align-self: center;
        margin-left: 0;
    }

    .text-section h3 {
        font-size: 55px;
    }

    .text-section p {
        font-size: 19px;
    }

    .text-section h1 {
        font-size: 50px;
    }

    .button {
        font-size: 12.5px;
    }

}